name: Build Hook DLL

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Compile DLL
        run: |
          cl.exe /LD /O2 /Fe:hook.dll main.cpp user32.lib kernel32.lib

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: my-hook-dll
          path: hook.dll
